<div class='inner'>
  <div class="panel panel-primary">
    <div class="panel-heading">Sign in</div>
    <div class="panel-body">
      <%= form_for(resource, :as => resource_name, :url => main_app.user_session_path, :html => { :role => 'form' } ) do |f| %>

        <%= custom_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :class => "form-control", :placeholder => "email address" %>

          <%= f.label :password %>
          <%= f.password_field :password, :class => "form-control", :placeholder => "password" %>
          <% if devise_mapping.rememberable? -%>
             <%= f.label :remember_me %> <%= f.check_box :remember_me %>
          <% end -%>

        </div>

        <p id='submit'>
          <%= f.submit "Sign in", :class => 'btn btn-ar btn-primary', :role => "button" %>
        </p>
        <%= render :partial => "users/links" %>
      <% end %>
    </div>
  </div>
</div>
