.row
  .col-2
  .col-2
    %h2.float-left Applicants
  .col-6
    .btn-group.float-right
      %button.btn.btn-light.float-right= link_to 'Export All as CSV', reu_program_applications_path(format: 'csv')
      %button.btn.btn-light.float-right= link_to 'Export All as PDF', reu_program_applications_path(format: 'pdf')
  .col-2
.row
  .col-2
  .col-8
    %table.table
      %thead
        %tr
          %th Name
          %th Email
          %th State
          %th Actions
      %tbody
        - @applications.each do |application|
          %tr
            %td= "#{application.field_value(*@first_name_path)} #{application.field_value(*@last_name_path)}"
            %td= application.user.email
            %td= application.state
            %td.actions
              = link_to 'Show', reu_program_application_path(application)
              = link_to 'PDF', reu_program_application_path(application, format: 'pdf') |
              = link_to 'CSV', reu_program_application_path(application, format: 'csv')
    .col-2
