<div>
  <b>Date of Birth:</b>
  <%= applicant.dob %>
</div>
<div>
  <b>Gender:</b>
  <%= applicant.gender %>
</div>
<div>
  <b>Ethnicity:</b>
  <%= applicant.ethnicity %>
</div>
<div>
  <b>Race:</b>
  <%= applicant.race %>
</div>
<div>
  <b>Citizenship:</b>
  <%= applicant.citizenship %>
</div>
<div>
  <b>Disability:</b>
  <%= applicant.disability %>
</div>
