= simple_form_for [:reu_program, @form] do |f|
  = f.input :name
  .row
    .col
      %h3 Sections
    .col
      = link_to 'New Section', new_reu_program_application_form_section_path(@form), class: 'btn btn-primary float-right'
  %table.table
    %thead
      %th Title
      %th Repeating
      %th Required Count
      %th.text-right Actions
    %tbody
      - index = 0
      - f.object.sections.each do |section|
        %tr
          %td= section.title
          %td= section.repeating ? 'Yes' : 'No'
          %td= section.count
          %td.text-right
            -# = link_to 'Show', reu_program_application_form_section_path(@form, section)
            = link_to 'Edit', edit_reu_program_application_form_section_path(@form, section)
            = link_to 'Delete', reu_program_application_form_section_path(@form, section), method: :delete, data: { confirm: 'Are you sure you want to delete this section?' }
  %hr
  = f.submit 'Save Form', class: 'btn btn-primary'
