.row
  .col-2
  .col-2
    %h2.float-left Applicants
  .col-6
    .btn-group.float-right
      %button.btn.btn-light.float-right= link_to 'Export All as CSV', reu_program_applicants_path(format: 'csv')
      %button.btn.btn-light.float-right= link_to 'Export All as PDF', reu_program_applicants_path(format: 'pdf')
  .col-2
.row
  .col-2
  .col-8
    %table.table
      %thead
        %tr
          %th Name
          %th Email
          %th State
          %th Actions
      %tbody
        - @applicants.each do |applicant|
          %tr
            %td= "#{applicant.field_value(*@first_name_path)} #{applicant.field_value(*@last_name_path)}"
            %td= applicant.email
            %td= applicant.state
            %td.actions
              = link_to 'Show', reu_program_applicant_path(applicant)
              = link_to 'PDF', reu_program_applicant_path(applicant, format: 'pdf') |
              = link_to 'CSV', reu_program_applicant_path(applicant, format: 'csv')
    .col-2
