.row
  .col
    %strong Long Text Field
  .col
    = render partial: 'reu_program/fields/delete_button', locals: { f: f }
.row
  .col
    = f.input :title, as: :string
  .col
    = f.input :required, as: :boolean, hint: f.object.required_hint
.row
  .col
    = f.input :description, as: :text, hint: f.object.description_hint
.row
  .col
    = f.input :min_length, as: :integer, hint: f.object.min_length_hint
