!!!
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_pack_tag 'application'
  / Preloader
  %body
    = render 'layouts/navbar'
    .container
      = render 'layouts/header'
      .row#flash
        .col
          - if flash[:notice]
            .alert.alert-info#notice= flash[:notice]
          - if flash[:success]
            .alert.alert-success#success= flash[:success]
          - if flash[:alert]
            .alert.alert-warning#alert= flash[:alert]
          - if flash[:error]
            .alert.alert-warning#error= flash[:error]
      = yield
    = render '/layouts/footer'
