!!!
%html.no-js{:lang => "en"}
  %head
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_pack_tag 'application'
  %body
    = render 'layouts/marketing_navbar'
    = yield
    = render 'layouts/marketing_footer'
